@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.sortable-ghost {
    opacity: .4;
    border: 1px solid;
}

.myDashboard a.active {
    background: #5d7adb23 !important;
    border-radius: 4px !important;
    color: #000 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

body {
    font-family: 'Montserrat', sans-serif;
    /* background: linear-gradient(141deg, rgba(93, 122, 219, 0.04) 0%, rgba(0, 128, 0, 0.04) 50%, rgba(241, 161, 2, 0.04) 100%); */
    background: linear-gradient(141deg, rgba(93, 122, 219, 0.05) 0%, rgba(0, 128, 0, 0.07) 50%, rgba(241, 161, 2, 0.06) 100%);


    background-size: cover;
    /* background-repeat: repeat; */
}

.dropdown .dropdown-content {
    left: 100%;
    top: 5px;
    border-radius: 5px;
}

html{
    scrollbar-width: thin;
    scrollbar-color: #5D7ADB !important;
}
.dashboardOutlet{
    scrollbar-width: thin;
}